thead {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 5px;
}

thead th {
    padding: 10px;
    text-align: center;
}

tbody {
    background-color: #f2f2f2;
}

tbody tr {
    text-align: center;
}